{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero d-flex align-items-center mb-5">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-5 my-auto">
                <h1 class="text display-4 logo-font text-black">
                    YOU DESERVE A CLEAN HOME
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="/" class="btn btn-dark btn-lg rounded-2 text-uppercase py-3">BOOK A CLEANING</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Our services</h5>
                    <p class="card-text">Our goal is to meet your individual cleaning needs. We specialize in
                        maintenance cleanings, deep cleans,
                        move-in/move-out cleans, office cleaning and window cleaning. We are fully-insured, servicing in
                        Stockholm area. Book your free consultation today!</p>
                    <a href="#" class="btn btn-primary">Free consultation</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Keeping a clean house doesn’t have to mean using toxic chemicals. We use a
                        variety of green and traditional cleaning
                        products, including our full-line of plant-based cleaning supplies by Young Living for a
                        naturally derived and effective
                        alternative to traditional cleaning products. Your product preferences will be discussed at the
                        time of your
                        consultation.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text">STÄDALEX is a fully-insured cleaning service owned and operated by Nenad and
                        Radmila Petrovic. Our team of
                        cleaning professionals are dedicated to ensuring that your specific cleaning needs are met.</p>
                    <a href="#" class="btn btn-primary">More about us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
    </div>
</div>
{% endblock %}