/*-----> Navbar <-----*/

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brand-name {
    font-size: 2rem; 
    font-weight: bold;
}

.brand-subtitle {
    font-size: 0.75rem; 
    margin-top: -0.5rem;
}
